/*-------------------|Scrollbar|-------------------*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #9b9b9b;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a4a4a4;
}


/*-------------------| General |-------------------*/
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #12181B;
    background-color: #F8F8F8;
}

a {
    text-decoration: none;
    color: #12181B;
}


/*-------------------|  Header  |-------------------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 1px 10px #bebebe;
    background: #fff;
    user-select: none;
    padding: 10px 25px 5px 25px;
}

#header-solarx {
    transition: opacity 0.3s;
}

#header-solarx:hover {
    opacity: 0.7;
}

#header-title {
    margin: 0;
    font-size: 32px;
    animation: tracking-in-expand 1.25s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

#header-nav {
    width: 175px;
}

#header-nav a {
    transition: all 0.3s;
    padding: 5px;
    display: inline-block;
    font-size: 18px;
}

#header-nav a:hover {
    color: #F0DC3D;
    transform: translateY(1px);
    text-shadow: 1px 2px 2px black;
}


/*-------------------|  Footer  |-------------------*/
footer {
    margin: 10px 25px;
    padding: 10px 0;
    border-top: 1px solid #575960;
}

#footer-nav {
    display: flex;
}

#footer-nav a {
    padding: 7px;
    transition: opacity 0.3s;
    display: flex;
}

#footer-nav a:hover {
    opacity: 0.7;
}

#footer-nav a img {
    height: 20px;
    margin-right: 5px;
}

#copyright {
    text-align: center;
    font-size: 12px;
    color: #666666;
}
/*-------------------| Main Div |-------------------*/
#main {
    margin: 10px 25px;
}


/*-------------------|  Animations  |-------------------*/
.scroll-container {
    height: 400px;
    width: 800px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.scroll-container:nth-of-type(even) {
    background-color: #d7d7d7;
}

.scroll-element,
.scroll-caption {
    width: 50%;
}

.scroll-element {
    min-height: 300px;
    height: 100%;
    background-color: #eaeaea;
}

.scroll-caption {
    margin: 10px;
}

.js-scroll {
    opacity: 0;
}

.scrolled {
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

.unScrolled {
    animation-duration: 0.4s;
    animation-direction: reverse;
}

.unScrolled.fade-in, .scrolled.fade-in {
    animation-name: fade-in-bottom;
}

.unScrolled.fade-in-bottom, .scrolled.fade-in-bottom {
    animation-name: fade-in-bottom;
}

@keyframes fade-in-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
