/*-------------------| Pseudo |-------------------*/
::selection {
    background: #8DB3FA;
    color: #F8F8F8;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #9b9b9b;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a4a4a4;
}


/*-------------------| General  |-------------------*/
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #12181B;
    background-color: #F8F8F8;
}

a {
    text-decoration: underline;
    color: #6b9af5;
}

a:hover {
    color: #4b7ad3;
}


/*-------------------| Header |-------------------*/
header {
    /* fixed position */
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    /* flexbox */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* design */
    box-shadow: 0 1px 10px #b0b0b0;
    background: #fafafa;
    user-select: none;
    padding: 10px 25px 5px 25px;
}

#header-solarx {
    transition: opacity 0.3s;
}

#header-solarx:hover {
    opacity: 0.7;
}

#header-nav {
    width: 175px;
    margin-right: 20px;
}

#header-nav a {
    transition: all 0.3s;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    color: #12181B;
}

#header-nav a:hover {
    color: #F0DC3D;
    transform: translateY(1px);
    text-shadow: 0 2px 2px black;
}

#placeholder {
    height: 72.25px;
}


/*-------------------| Footer |-------------------*/
footer {
    margin: 10px 1vw;
    padding: 10px 0;
    border-top: 1px solid #575960;
}

#footer-nav {
    display: flex;
}

#footer-nav a {
    padding: 7px;
    transition: opacity 0.3s;
    display: flex;
    color: #12181B;
    text-decoration: none;
}

#footer-nav a:hover {
    opacity: 0.7;
}

#footer-nav a img {
    height: 20px;
    margin-right: 5px;
}

#copyright {
    text-align: center;
    font-size: 12px;
    color: #666666;
    margin: 0;
}


/*-------------------| Main Div |-------------------*/
#main {
    margin: 10px 25px;
}


/*-------------------| index.html |-------------------*/
#welcome-div {
    background: url("../images/solarzelle1.jpg") center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#welcome-div img {
    border-radius: 50%;
    background: #F8F8F8;
    margin: 5px;
    position: relative;
    top: 60vh;
    transition: background 0.3s;
    animation: welcome-arrow-move 1s infinite alternate ease-in;
    box-shadow: 0 0 20px 6px #b0b0b0;
    opacity: 0.85;
}

#welcome-div img:hover {
    opacity: 1;
}

/*-------------------| Error pages |-------------------*/
#error #main {
    color: #3e3e3e;
    margin: 0;
    padding: 80px;
    text-align: center;
    font-family: 'Arial';
}

#error #main h1 {
    font-size: 25vw;
    margin: -45px 0 30px;
}

#error #main h2 {
    font-size: 2vw;
    padding: 0;
    font-weight: normal;
}

#error #main a {
    text-decoration: none;
    font-size: 1vw;
}

#error footer {
    position: fixed;
    z-index: 1;
    top: 100%;
    left: 0;
    width: 97vw;
    transform: translateY(-140%);
}

/*-------------------| Animations |-------------------*/
.scroll-container {
    height: 400px;
    width: 800px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.scroll-container:nth-of-type(even) {
    background-color: #d7d7d7;
}

.scroll-element,
.scroll-caption {
    width: 50%;
}

.scroll-element {
    min-height: 300px;
    height: 100%;
    background-color: #eaeaea;
}

.scroll-caption {
    margin: 10px;
}

.js-scroll {
    opacity: 0;
    animation-fill-mode: forwards;
}
