/*-------------------| Pseudo |-------------------*/
::selection {
    background: #8DB3FA;
    color: #F8F8F8;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #9b9b9b;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a4a4a4;
}


/*-------------------| General  |-------------------*/
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #12181B;
    background-color: #F8F8F8;
    overflow-x: hidden;
}

a {
    text-decoration: underline;
    color: #6b9af5;
}

a:hover {
    color: #4b7ad3;
}


/*-------------------| Header |-------------------*/
header {
    /* fixed position */
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    /* flexbox */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* design */
    box-shadow: 0 1px 10px #b0b0b0;
    background: #fafafa;
    user-select: none;
    padding: 10px 25px 5px 25px;
    opacity: 0.95;
}

#header-solarx {
    transition: opacity 0.3s;
}

#header-solarx:hover {
    opacity: 0.7;
}

#header-nav {
    width: 175px;
    margin-right: 20px;
}

#header-nav a {
    transition: all 0.3s;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    color: #12181B;
}

#header-nav a:hover {
    color: #F0DC3D;
    transform: translateY(1px);
    text-shadow: 0 2px 2px black;
}

#placeholder {
    height: 72.25px;
}


/*-------------------| Footer |-------------------*/
footer {
    margin: 10px 1vw;
    padding: 10px 0;
    border-top: 1px solid #575960;
}

#footer-nav {
    display: flex;
}

#footer-nav a {
    padding: 7px;
    transition: opacity 0.3s;
    display: flex;
    color: #12181B;
    text-decoration: none;
}

#footer-nav a:hover {
    opacity: 0.7;
}

#footer-nav a img {
    height: 20px;
    margin-right: 5px;
}

#copyright {
    text-align: center;
    font-size: 12px;
    color: #666666;
    margin: 0;
}


/*-------------------| Main Div |-------------------*/
#main {
    margin: auto;
    width: 900px;
}


/*-------------------| index.html |-------------------*/
#welcome-div {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#welcome-div #title {
    width: 550px;
    position: absolute;
    top: 42%;
    color: rgba(43, 43, 43, 0.99);
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.85));
}

#welcome-div #message {
    width: 1000px;
    position: absolute;
    top: 22%;
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 2));
}

#welcome-background-div {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url("../images/solarzelle1.jpg") center;
    background-size: cover;
    filter: blur(3px) saturate(60%);
}

#welcome-div img {
    border-radius: 50%;
    background: #F8F8F8;
    margin: 5px;
    position: absolute;
    top: 88vh;
    transition: all 0.3s;
    animation: welcome-arrow-move 1s infinite alternate ease-in;
    box-shadow: 0 0 20px 6px #b0b0b0;
    opacity: 0.85;
    width: 60px;
}

#welcome-div img:hover {
    opacity: 1;
}


/*-------------------| solarzellen |-------------------*/
.float-section {
    margin: 15px 0;
    border-radius: 15px;
    padding: 7px;
    box-shadow: 0 1px 10px #b0b0b0;
}

.fold-section {
    overflow: hidden;
    transition: all 0.5s;
    max-height: 0;
}

.technical-data-fold-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px 15px 0 0 ;
    border-bottom: 1px solid black;
    margin: 15px 0 0 0;
    padding: 7px;
    cursor: pointer;
    transition: box-shadow 0.5s;
}

.technical-data-fold {
    padding: 0 7px;
}
.technical-data-fold-button:hover {
    box-shadow: 0 1px 10px #b0b0b0;
}

.technical-data-fold-button h3 {
    margin: 0;
}

.diagram {
    width: 100%;
}

.messurement-info {
    border: 1px black solid;
    border-radius: 6px;
    padding: 8px;
}

.messurement-info-details {
    font-size: 12px;
    color: #646464;
}


/*-------------------| Error pages |-------------------*/
#error #main {
    color: #3e3e3e;
    margin: 0;
    padding: 80px;
    text-align: center;
    font-family: 'Arial', serif;
}

#error #main h1 {
    font-size: 25vw;
    margin: -45px 0 30px;
}

#error #main h2 {
    font-size: 2vw;
    padding: 0;
    font-weight: normal;
}

#error #main a {
    text-decoration: none;
    font-size: 1vw;
}

#error footer {
    position: fixed;
    z-index: 1;
    top: 100%;
    left: 0;
    width: 97vw;
    transform: translateY(-140%);
}


/*-------------------| Animations |-------------------*/
.scroll-container {
    height: 400px;
    width: 800px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.scroll-container:nth-of-type(even) {
    background-color: #d7d7d7;
}

.scroll-element,
.scroll-caption {
    width: 50%;
}

.scroll-element {
    min-height: 300px;
    height: 100%;
    background-color: #eaeaea;
}

.scroll-caption {
    margin: 10px;
}

.js-scroll {
    opacity: 0;
    animation-fill-mode: forwards;
}
